:root {
  --bg-color: #f6f6f6;
  --bg-color2: #eaeaea;
  --bg-footer-color: #353535;
  --button-color: #9356dc;
  --line-menu-color: #99e2d0;
  --bg-new-menu: #99e2d0;
  --color-new-menu: #008766;
  --bg-linear: linear-gradient(to bottom, #ff79da, var(--button-color));
  --bg-linear-hover: linear-gradient(
    to bottom,
    #ffffff1a,
    #ff79da,
    var(--button-color)
  );
}

::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
}

h1 {
  font-size: 30px;
  font-family: "Shrikhand", sans-serif;
}

ul {
  list-style: none;
}

i {
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

a.button {
  color: #fff;
  background: var(--bg-linear);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}
a.button:hover {
  transform: scale(1.02);
  filter: brightness(1.1);
}

header {
  padding: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1803921569);
  display: flex;
  justify-content: center;
  position: relative;
}
header .go-back-to-home {
  font-size: 30px;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.3s ease-in-out;
}
header .go-back-to-home:hover {
  color: var(--bg-footer-color);
}

.menu-cover {
  height: 275px;
}
.menu-cover img {
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  padding: 12px;
  margin: 0 auto;
}
main .menu-title {
  border-radius: 50px 50px 0 0;
  top: -60px;
  background-color: var(--bg-color);
  position: absolute;
  display: flex;
  padding: 37px 35px 17px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
main .menu-title h2 {
  font-size: 27px;
  font-weight: 500;
  font-family: "Shrikhand", sans-serif;
}
main .menu-title .fav {
  cursor: pointer;
  height: 28px;
  width: 28px;
}
main .menu-title .fav i {
  font-size: 28px;
  position: absolute;
  right: 30px;
}
main .menu-title .fav i.fa-regular {
  z-index: 4;
}
main .menu-title .fav i.fa-solid::after {
  position: absolute;
  content: " ";
  background: var(--bg-color);
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 3;
}
main .menu-title .fav:hover i {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: var(--bg-linear);
  transition: 2s;
}
main .menu-title .fav:hover i::after {
  animation: likeAnime 3s forwards;
  opacity: 1;
}

h3 {
  margin: 0 auto;
  width: 100%;
  max-width: 634px;
  padding-top: 40px;
  font-size: 16px;
  align-self: flex-start;
  padding-bottom: 12px;
  line-height: 0.8;
  font-weight: 300;
  position: relative;
}
h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 3px;
  background-color: var(--line-menu-color);
}

main ul {
  display: flex;
  gap: 12px;
  padding-top: 17px;
  flex-direction: column;
  width: 100%;
  max-width: 634px;
}
main ul li {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
main ul li .contenu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  transition: width 0.3s ease-in-out;
}
main ul li .contenu:first-child {
  animation-delay: 0;
}
main ul li .contenu:nth-child(2) {
  animation-delay: 1s;
}
main ul li .contenu:nth-child(3) {
  animation-delay: 2s;
}
main ul li .contenu div {
  padding: 15px;
}
main ul li .contenu .menu-content {
  overflow: hidden;
  white-space: nowrap;
}
main ul li .contenu .menu-content h4,
main ul li .contenu .menu-content p {
  text-overflow: ellipsis;
  overflow: hidden;
}
main ul li .contenu .menu-price {
  font-weight: bold;
}
main ul li .checked {
  width: 59px;
  height: 69px;
  background-color: var(--bg-new-menu);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -60px;
  transition: transform 0.3s ease-in-out;
  color: #fff;
  font-size: 20px;
}
main ul li:hover .contenu {
  width: calc(100% - 60px);
}
main ul li:hover .checked {
  transform: translateX(-60px);
}
main ul li:hover .checked i {
  transform: rotate(360deg);
  transition: transform 0.8s;
}

.button-order {
  margin: 40px 0 28px;
  padding: 15px 60px;
  border-radius: 25px;
  color: #fff;
}

@media screen and (max-width: 373px) {
  main .menu-title h2 {
    font-size: 23px;
  }
}
@media screen and (min-width: 791px) {
  main .menu-title {
    justify-content: center;
  }
  main .menu-title h2 {
    margin-right: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .menu-cover {
    height: 383px;
    height: 530px;
  }
}
@keyframes fadeIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes likeAnime {
  100% {
    transform: translate(-50%, -150%);
  }
}
footer {
  background-color: var(--bg-footer-color);
  color: #fff;
  padding: 22px;
}

footer h2 {
  font-size: 18px;
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 15px;
}

footer nav ul li {
  line-height: 1.8;
}

footer nav ul li.bold a {
  font-weight: 500;
}

footer nav ul li i {
  margin-right: 10px;
}

footer nav ul li i.partner {
  font-size: 14px;
}

footer nav ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s color ease-in-out;
}
footer nav ul li a:hover {
  color: #cbcbcb;
}

@media screen and (min-width: 791px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  footer nav {
    width: 100%;
    margin-right: 5vw;
  }
  footer nav ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 7vw;
  }
  footer nav ul li {
    margin-right: 20px;
    width: max-content;
  }
  footer nav ul li:nth-of-type(3) {
    margin-left: 30px;
  }
}/*# sourceMappingURL=menu-restaurants.css.map */