:root {
  --bg-color: #f6f6f6;
  --bg-color2: #eaeaea;
  --bg-footer-color: #353535;
  --button-color: #9356dc;
  --line-menu-color: #99e2d0;
  --bg-new-menu: #99e2d0;
  --color-new-menu: #008766;
  --bg-linear: linear-gradient(to bottom, #ff79da, var(--button-color));
  --bg-linear-hover: linear-gradient(
    to bottom,
    #ffffff1a,
    #ff79da,
    var(--button-color)
  );
}

::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

body {
  margin: 0 auto;
  min-width: 320px;
}

h1 {
  font-size: 30px;
  font-family: "Shrikhand", sans-serif;
}

ul {
  list-style: none;
}

i {
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

a.button {
  color: #fff;
  background: var(--bg-linear);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}
a.button:hover {
  transform: scale(1.02);
  filter: brightness(1.1);
}

header {
  padding: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1803921569);
  display: flex;
  justify-content: center;
  position: relative;
}
header .go-back-to-home {
  font-size: 30px;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.3s ease-in-out;
}
header .go-back-to-home:hover {
  color: var(--bg-footer-color);
}

:root {
  --bg-color: #f6f6f6;
  --bg-color2: #eaeaea;
  --bg-footer-color: #353535;
  --button-color: #9356dc;
  --line-menu-color: #99e2d0;
  --bg-new-menu: #99e2d0;
  --color-new-menu: #008766;
  --bg-linear: linear-gradient(to bottom, #ff79da, var(--button-color));
  --bg-linear-hover: linear-gradient(
    to bottom,
    #ffffff1a,
    #ff79da,
    var(--button-color)
  );
}

::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

body {
  margin: 0 auto;
  min-width: 320px;
}

h1 {
  font-size: 30px;
  font-family: "Shrikhand", sans-serif;
}

ul {
  list-style: none;
}

i {
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

a.button {
  color: #fff;
  background: var(--bg-linear);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}
a.button:hover {
  transform: scale(1.02);
  filter: brightness(1.1);
}

.loader {
  position: fixed;
  background: var(--bg-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  animation: overlay 2s forwards;
}
.loader .dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 15px;
  background: var(--bg-linear);
  animation: loader 0.3s 7 alternate forwards;
}
.loader .dot.dot2 {
  animation-delay: 0.05s;
}
.loader .dot.dot3 {
  animation-delay: 0.1s;
}

@media screen and (min-width: 791px) {
  .loader .dot {
    width: 50px;
    height: 50px;
  }
}
@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
@keyframes overlay {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.location {
  height: 50px;
  text-align: center;
  background-color: var(--bg-color2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--bg-footer-color);
}

.location label {
  margin-right: 15px;
  cursor: pointer;
}

.location input {
  border: none;
  background-color: var(--bg-color2);
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--bg-footer-color);
}

.location input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: var(--bg-footer-color);
}

#explore-restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 45px 50px;
  background-color: var(--bg-color);
}

#explore-restaurants h2 {
  font-size: 24px;
}

#explore-restaurants p {
  margin: 10px 0 40px;
  font-weight: 300;
  text-align: center;
}

#explore-restaurants a {
  background: var(--bg-linear);
  color: #fff;
  padding: 15px 20px;
  border-radius: 25px;
}

#functioning {
  padding: 30px 15px 60px;
  background-color: #fff;
}

#functioning h2,
#restaurants h2 {
  padding: 0 0 30px;
}

#functioning .functioning-widgets {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0 2px 0 5px;
}

#functioning .functioning-widgets .widget {
  background-color: var(--bg-color);
  border-radius: 20px;
  width: 322.49px;
  margin-left: 10px;
  height: 72.38px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 10px 4px rgba(158, 158, 158, 0.2901960784);
  position: relative;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

#functioning .functioning-widgets .widget:hover {
  background: #f5edff;
  transform: scale(1.01);
  box-shadow: 0 0 20px rgba(143, 135, 135, 0.4196078431);
}

#functioning .functioning-widgets .widget span {
  background-color: var(--button-color);
  padding: 3px 8px;
  border: #d9d9d9 solid 1px;
  border-radius: 24px;
  position: absolute;
  left: -15px;
  color: #fff;
}

#functioning .functioning-widgets .widget i {
  margin: 0 20px 0 35px;
}

#functioning .functioning-widgets .widget h3 {
  font-size: 16px;
  font-weight: 500;
}

#restaurants {
  padding: 30px 15px 60px;
  background-color: var(--bg-color);
}

#restaurants article {
  border-radius: 15px;
  background-color: #fff;
  height: 251px;
  width: 335px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1019607843);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}
#restaurants article .new-menu::before {
  position: absolute;
  content: "Nouveau";
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 5px;
  width: 80px;
  height: 30px;
  top: 13px;
  right: 13px;
  background-color: var(--bg-new-menu);
  color: var(--color-new-menu);
}

#restaurants article:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px rgba(143, 135, 135, 0.4196078431);
}

#restaurants article a {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

#restaurants .restaurants-zone {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#restaurants .restaurants-zone article {
  position: relative;
}

#restaurants .restaurants-zone article a .card-cover {
  border-radius: 15px;
  height: 70%;
}

#restaurants .restaurants-zone article a .card-cover img {
  border-radius: 15px 15px 0 0;
  height: 100%;
  width: 100%;
}

#restaurants .restaurants-zone article a .card-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30%;
  padding: 0 15px;
}

#restaurants .restaurants-zone article a .card-description .content h3 {
  font-size: 18px;
  color: var(--bg-footer-color);
}

#restaurants .restaurants-zone article a .card-description .content p {
  font-size: 17px;
  line-height: 1.7;
  font-weight: 300;
}

#restaurants .restaurants-zone article .like {
  position: absolute;
  bottom: 55px;
  right: 40px;
}
#restaurants .restaurants-zone article .like i {
  position: absolute;
  font-size: 22px;
}
#restaurants .restaurants-zone article .like i.fa-solid {
  opacity: 0;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: var(--bg-linear);
  transition: opacity 0.3s;
}
#restaurants .restaurants-zone article .like i.fa-solid:hover {
  opacity: 1;
}

@media screen and (min-width: 791px) {
  #restaurants div .restaurants-zone {
    gap: 40px;
  }
  #restaurants div .restaurants-zone article {
    width: 80%;
    height: 300px;
  }
}
@media screen and (min-width: 1071px) {
  #functioning {
    margin: 0 auto;
    width: max-content;
  }
  #functioning .functioning-widgets {
    flex-direction: row;
    justify-content: center;
  }
  #functioning .functioning-widgets {
    flex-direction: row;
    justify-content: center;
  }
  #restaurants .container {
    width: max-content;
    margin: 0 auto;
  }
  #restaurants div .restaurants-zone {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
  #restaurants div .restaurants-zone article {
    width: 490px;
    height: 251px;
  }
}
footer {
  background-color: var(--bg-footer-color);
  color: #fff;
  padding: 22px;
}

footer h2 {
  font-size: 18px;
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 15px;
}

footer nav ul li {
  line-height: 1.8;
}

footer nav ul li.bold a {
  font-weight: 500;
}

footer nav ul li i {
  margin-right: 10px;
}

footer nav ul li i.partner {
  font-size: 14px;
}

footer nav ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s color ease-in-out;
}
footer nav ul li a:hover {
  color: #cbcbcb;
}

@media screen and (min-width: 791px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  footer nav {
    width: 100%;
    margin-right: 5vw;
  }
  footer nav ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 7vw;
  }
  footer nav ul li {
    margin-right: 20px;
    width: max-content;
  }
  footer nav ul li:nth-of-type(3) {
    margin-left: 30px;
  }
}/*# sourceMappingURL=style.css.map */