@import "./reset";
.loader {
  position: fixed;
  background: var(--bg-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  animation: overlay 2s forwards;

  .dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 15px;
    background: var(--bg-linear);
    animation: loader 0.3s 7 alternate forwards;

    &.dot2 {
      animation-delay: 0.05s;
    }
    &.dot3 {
      animation-delay: 0.1s;
    }
  }
}

@media screen and (min-width: 791px) {
  .loader {
    .dot {
      width: 50px;
      height: 50px;
    }
  }
}

@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}

@keyframes overlay {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
