:root {
  --bg-color: #f6f6f6;
  --bg-color2: #eaeaea;
  --bg-footer-color: #353535;
  --button-color: #9356dc;
  --line-menu-color: #99e2d0;
  --bg-new-menu: #99e2d0;
  --color-new-menu: #008766;
  --bg-linear: linear-gradient(to bottom, #ff79da, var(--button-color));
  --bg-linear-hover: linear-gradient(
    to bottom,
    #ffffff1a,
    #ff79da,
    var(--button-color)
  );
}
::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

body {
  margin: 0 auto;
  min-width: 320px;
}

h1 {
  font-size: 30px;
  font-family: "Shrikhand", sans-serif;
}

ul {
  list-style: none;
}
i {
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}
a.button {
  color: #fff;
  background: var(--bg-linear);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  &:hover {
    transform: scale(1.02);
    filter: brightness(1.1);
  }
}
